		html, body{ height:100%; width: 100%; }
		html { display: table; margin: auto; }
		body{ font-family:Verdana; background-color:#2C383B; margin: 0px; padding: 0px; display: table-cell; }
		.logo{ background: #2C383B; position: absolute; right: 60px; top: 0px; height: 120px; width: 250px; transform: skew(-45deg);}
		.logo_wrapper{ position: absolute; right: 80px; top: 10px; }
		.logo_panel{ position: absolute; top: 0px; right: 0px; background: #2C383B; height: 120px; width: 140px; }
		.wrapper{ background: #FFF; height: 120px; }
		.header{ background-color:#4482e5; position: relative; height: 120px;
			background: red; /* For browsers that do not support gradients */    
    		background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
    		background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
    		background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
    		background: linear-gradient(to bottom right, #336699, #3399ff); /* Standard syntax (must be last) */ }
		.page { height: 100%; max-width: 1500px; margin: auto; }
		.judul { margin: auto; margin-right: 200px; text-shadow: 1px 1px #00ccff; font-size: 2em; padding-top: 35px; width: 300px;}

		.userpanel{ display: inline-block; z-index: 1; position: absolute; top: 0px; left: 0px; background:rgba(0,0,0,0.0); width: 250px; height: 250px; padding: 20px; }
		.userpanel h1{ font-size: 0.9em; text-align: center; margin-top: 10px; margin-bottom: 5px;}
		.userpanel td{ text-align: center; height: 30px; padding-top: 10px; }
		.logout { display: inline; color: inherit; text-decoration: none; text-align: left; padding-left: 10px; pointer-events: none; }
        .tampil-foto{ width:100%; height: 100%;  display: inline-block; background: #2C383B;  padding: 0px;  top: 0px; margin-top: 0px; margin-left: 0px; font-size: 0.7em; text-decoration: none; color: #ECECEC; border-style: none; border-width: 1px; border-color: #2C383B; border-radius: 3px}
		.tampil-foto:hover{ background: #ECECEC; color: #2C383B; border-style: solid; border-width: 1px; border-color: #2C383B; }
        .userpanelwrapper{ position: relative; background: whitesmoke; border: 2px solid #565656; padding: 5px; padding-bottom: 360px; max-height: 350px;}
		.userpaneltable{ margin: auto;}
		.foto{ width: 90%; }
		.userphoto{ width: 120px; height: 150px; background-color: white; margin: auto;}
        .userphoto a img { width:100%; height: 100%; }
		.username{ width: 90%; font-size: 0.9em;}
		.jabatan { font-size: 0.8em; }
		.userid{ width: 70%; font-size: 0.9em; }
		.logoutbtn { position: absolute; bottom: 10px; right: 8px; background:#2C383B; box-shadow:3px 3px 0 rgba(0,0,0,.5); border-radius: 3px; padding: 6px; padding-top: 7px; padding-left: 5px;  color: #ECECEC; border: 1px solid #ECECEC; text-decoration: none; font-size: 0.9em; }
		.logoutbtn:hover { background: #ECECEC; border: 1px solid #2C383B; color: #2C383B; text-decoration: none;}
		.logoutbtn:active { box-shadow: 0 0 0; background-color: #ECECEC; border: 1px solid #2C383B; color: #2C383B; }
        .logo_setwapres {
            width: auto;
            height: 110px;
            overflow: auto;
        }
        

		.pagebody{ background: white; overflow: auto; margin-top: 20px; display: flex; }
		.sidenav { background: #ECECEC; position: relative; flex: 0 0 250px; padding-top: 260px; min-height: 100vh;}
		.sidenav ul { margin-top: 15px; margin-left: 15px; padding-left: 10px; }
		.sidenav ul li { background:#2C383B; box-shadow:3px 3px 0 rgba(0,0,0,.5); border-radius: 3px; margin-left: 15px; margin-right: -5px; margin-bottom: 20px ; padding: 6px; padding-left: 15px;  color: #ECECEC; border: 1px solid #ECECEC; list-style-type: none; }
		.sidenav ul li:hover { background: #ECECEC; border: 1px solid #2C383B; color: #2C383B;}
		.sidenav ul li:active { box-shadow: 0 0 0; background-color: #ECECEC; border: 1px solid #2C383B; color: #2C383B; }
		.sidenav ul li a { display: inline; color: inherit; text-decoration: none; text-align: left; padding-left: 10px; pointer-events: none; }
		.menu-item.active { background: #ECECEC; border: 1px solid #2C383B; color: #2C383B; box-shadow: 0 0 0; }
		.menuProfil { position: absolute; top: 190px; left: -13px; z-index: 1; font-size: 0.9em; }
		.tab { display: none; width: 100%; }
		.tab.active { display: block; }
		.content{ flex: 1; }
		.tabN{ display: block; font-weight: 500; font-size: 1.2em; padding: 60px; padding-top: 40px; }

		input[type=submit] { border: 0 none; padding: 5px 15px; background: #ffbb47; cursor: pointer; box-shadow:3px 3px 0 rgba(0,0,0,.5); }
		input[type=submit]:hover {background-color: #e2a53d; box-shadow: 0 0 0;}

		.tabContent { justify-content:center; padding: 20px; }
		.tCWrapper { display: inline-block; height: 100%; width: 100%; }
		.tCheader { padding-bottom: 20px; justify-content:center; height: 100px; width: 100%; }

		.tchbox { background-color: #ECECEC; min-width: 890px; width: 90%; height: 100%; margin: auto; padding-top: 17px; display: flex;}
		.searchActivity { display: inline-block; margin-left: 60px; width: 60%; padding-right: 20px; }
		.searchPegawai { display: inline-block; width: 70%; padding-right: 20px; margin-left: 80px; }
		.dropbtn, .kirimBtn { background-color:#2C383B; padding: 9px; cursor: pointer; border: 1px solid #ECECEC; border-radius: 5px; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC; min-width: 153px;}
		.dropbtn:hover, .kirimBtn:hover { background-color: #ECECEC; border: 1px solid #2C383B; color: #2C383B; text-decoration: none; }
		.dropbtn:active, .kirimBtn:active { box-shadow: 0 0 0; }
		.dropdownCat {position: relative; display: inline; margin-left: 30px;}
		.dropdownCat-content { margin-left: 5px; display: none; position: absolute; min-width: 160px; max-width: 170px; z-index: 2; background-color: white;}
		.dropdownCat-content a {color: black; padding: 12px 16px; display: block; text-decoration: none; border: 1px solid #ccc;}
		.dropdownCat-content a:hover {background-color:#ccc;}
		.dropdownCat:hover .dropdown-content {display:block; background-color: #ECECEC; font-size: 0.8em;}
		.SAwrapper { flex: 1; padding-top: 7px; position: relative;}
		.actCount, .pacCount { padding: 10px; margin: auto; }
		.relative { position: relative; }
		.kirimBtnWrapper { position: absolute; right: 69px; top: 27px; }
		.disable { background-color: #686868; pointer-events: none; cursor: default; color: #b7b7b7; box-shadow: 0 0 0; }

		.actTable, .epTable, .actListTable, .pacListTable { table-layout: : auto; width: 90%; background-color: #ECECEC; }
		.actTable th, .epTable th, .actListTable th, .pacListTable th { font-size: 0.8em; background-color: #2C383B; color: #ECECEC; text-align: center; height: 45px; text-decoration: none;}
		.actTable td, .epTable td, .actListTable td, .pacListTable td { height: 30px; padding: 5px; }
		#actSearch, #pacSearch { width: 100%; padding-left: 10px; height: 30px; }
		.selectActbtn { background-color: #2C383B; cursor: pointer; border-radius: 2px; border: 1px solid #2C383B; text-decoration: none; color: #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); padding: 1px 5px 1px 5px;}
		.selectActbtn:hover { text-decoration: none; color: #2C383B; background-color: #ECECEC; border: 1px solid #2C383B; }
		.selectActbtn:active { box-shadow: 0 0 0; }
		.tCmodal { display: none; overflow: auto; position: fixed; z-index: 2; left: 0; top: 0; width: 100%; height: 100% ; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
		.zindex2 { z-index: 3; }
		.tCmodal-content { background-color: #FEFEFE; margin: 5% auto; padding: 20px; border: 1px solid #888; width: 700px; }
		.fit-width { width: fit-content; }
		.tableType { width: 80%; }
		.tableSJ td, .tableEA td, .tableEDJS td {padding: 5px;}
		.close, .tutupLJ, .EAclose { color: #777777; float: right; font-size: 1.2em; font-weight: bold; }
		.close:hover, .close:focus, .tutupLJ:hover, .tutupLJ:focus, .EAclose:hover, .EAclose:focus{ 
			color: #333333; text-decoration: none; cursor: pointer; }
		#tCModalLabel { text-align: center; font-size: 1.2em; font-weight: bold; border-bottom: 2px solid #ddd; padding: 5px; margin-bottom: 10px;}
		.SJbtnSubmit, .EAbtnSubmit { background-color:#2C383B; align-items:center; border:1px solid #2C383B; color:#ECECEC; font-weight:bold; padding:7px; border-radius: 5px; cursor: pointer; }
		.SJbtnSubmit:hover, .EAbtnSubmit:hover { background-color: #ECECEC; color: #2C383B; border-color: #A8BABE; text-decoration: none; }

		.headerLJ { height: 60px; background-color: #ECECEC; margin-bottom: 20px; padding-top: 7px;}
		.pilihanJurnal { padding-left: 30px; margin-top: -16px; display: block;}
		.pjBtn:hover, .pjkBtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none;}
		.pjBtn:active, .pjkBtn:active { box-shadow: 0 0 0; text-decoration: none; }
		.pjBtn.active, .pjkBtn.active { box-shadow: 0 0 0; text-decoration: none; background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; }
		.pjBtn, .pjkBtn { display: block; background-color:#2C383B; padding: 1px 7px 1px 7px; border-radius: 5px; margin-top: 8px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC; min-width: 131px; text-decoration: none;}
		.pjkBtn { display: inline-block; }
		.PJAfilter { display: flex; flex: 1; }
		.PJAfilter .dropdownCat { display: inline-block; }
		.LJAbtn { background-color:#2C383B; height: fit-content; margin-top: 6px; border-radius: 5px; padding: 2px 7px 4px 7px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC;}
		.LJAbtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none; }
		.LJAbtn:active { box-shadow: 0 0 0; }
		.LJApilihMinggu, .LJApilihHari { padding-top: 7px; margin-left: 20px; margin-right: 10px; }
		.modalLJ-content { background-color: #FEFEFE; margin: 5% auto; padding: 20px; border: 1px solid #888; min-width: 870px; width: 90vw; }
		#tableContainer { display: block; margin: auto; width: 99%; }
		.tabelLJ { table-layout: auto; width: 100%; }
		.tableLJ th { font-size: 0.8em; background-color: #2C383B; color: #ECECEC; text-align: center; height: 45px; text-decoration: none;}
		.LJApilihBulan, .LJApilihTahun { display: inline-block; padding-top: 7px;}
		.LJApilihTahun { margin-left: 20px; }
		.LJApilihBulan { margin-right: 12px; }
		.LJSpilihBulan { margin-right: 3px; }
		.DJSpilihBulan { margin-right: 2.5px; }
		.LJSfilter, .DJSfilter { margin-left: 30px; padding-top: 8px;}
		.LJSfilter div, .DJSfilter div { display: inline-block; }
		.w163 { width: 150px; }
		.h30 { height: 30px; }
		.LJSbtn, .DJSbtn { background-color:#2C383B; height: fit-content; margin-top: 6px; border-radius: 5px; margin-left: 10px; padding: 2px 7px 4px 7px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC;}
		.LJSbtn:hover, .DJSbtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none; }
		.LJSbtn:active, .DJSbtn:active { box-shadow: 0 0 0; }
		.wrapperTotalWaktu { display: inline-block; padding: 11px; padding-left: 20px; margin-bottom: 15px; margin-left: 25px; border-left: 2px solid #ccc; }
		#event_list { transition: all 0s ease 0s; }
		.searchIconWrapper { display: flex; position: absolute; height: 30px; width: 40px; margin-left: 40px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: #2C383B;}
		.searchIconWrapperAct { display: flex; position: absolute; height: 30px; width: 40px; margin-left: -40px; border-top-left-radius: 4px; border-bottom-left-radius: 4px; background-color: #2C383B;}
		#iconSearchPeg { display: block; margin: auto; margin-bottom: 8px; color: #ECECEC; }
		*:not(.date_popup_wrap) { transition: all .1s ease}
