		html, body{ height:100%; width: 100%; }
		html { display: table; margin: auto; }
		body{ font-family:Verdana; background-color:#2C383B; margin: 0px; padding: 0px; display: table-cell; }
		.logo{ background: #2C383B; position: absolute; right: 60; top: 0; height: 120px; width: 250px; transform: skew(-45deg);}
		.logo_wrapper{ position: absolute; right: 80; top: 10; }
		.logo_panel{ position: absolute; top: 0; right: 0; background: #2C383B; height: 120px; width: 140px; }
		.wrapper{ background: #FFF; height: 120px; }
		.header{ background-color:#4482e5; position: relative; height: 120px; }
		.page { height: 100%; max-width: 1500px; margin: auto; }
		.judul { margin: auto; margin-right: 200px; font-size: 2em; padding-top: 30px; width: 300px;}

		.userpanel{ display: inline-block; position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.0); width: 250px; height: 250px; padding: 20px; }
		.userpanel h1{ font-size: 0.9em; text-align: center; margin-top: 10px; margin-bottom: 5px;}
		.userpanel td{ text-align: center; height: 30px; padding-top: 10px; }
		.userpanel a{ display: inline-block; background: #2C383B; padding: 9px; top: 0; margin-top: 0px; margin-left: 0px; font-size: 0.7em; text-decoration: none; color: #ECECEC; border-style: solid; border-width: 1px; border-color: #2C383B; border-radius: 3px}
		.userpanel a:hover{ background: #ECECEC; color: #2C383B; border-style: solid; border-width: 1px; border-color: #2C383B; }
		.userpanelwrapper{ position: relative; background: whitesmoke; border: 2px solid #565656; padding: 5px; padding-bottom: 360px; max-height: 350px;}
		.userpaneltable{ margin: auto;}
		.foto{ width: 90%; }
		.userphoto{ width: 120px; height: 150px; background-color: black; margin: auto;}
		.username{ width: 90%; font-size: 0.9em;}
		.jabatan { font-size: 0.8em; }
		.userid{ width: 70%; font-size: 0.9em; }
		.logoutbtn{ position: absolute; bottom: 5; right: 5; text-align: right; padding-right: 5px; padding-top: 10px; }

		.pagebody{ background: white; overflow: auto; margin-top: 20px; display: flex; }
		.sidenav { background: #ECECEC; flex: 0 0 250px; padding-top: 260px; min-height: 100vh;}
		.sidenav ul { margin-top: 15px; margin-left: 15px; padding-left: 10px; }
		.sidenav ul li { background:#2C383B; box-shadow:10px 10px 0 rgba(0,0,0,.5); transform: skew(-20deg); margin-left: 10px; margin-right: 0px; margin-bottom: 20px ; padding: 10px;  color: #ECECEC; border: 1px solid #ECECEC; list-style-type: none; }
		.sidenav ul li:hover {margin-left: 30px; margin-right: -30px;}
		.sidenav ul li:active { background-color: #ECECEC; border: 1px solid #2C383B; color: #2C383B; }
		.sidenav ul li a { transform: skew(20deg); display: block; color: inherit; text-decoration: none; text-align: center; }
		.menu-item.active {margin-left: 30px; margin-right: -30px; box-shadow: 0 0 0; }
		.tab { display: none; width: 100%; }
		.tab.active { display: block; }
		.content{ flex: 1; }
		.tabN{ display: block; font-weight: 500; font-size: 1.2em; padding: 60px; padding-top: 40px; }

		input[type=submit] { border: 0 none; padding: 5px 15px; background: #ffbb47; cursor: pointer; box-shadow:3px 3px 0 rgba(0,0,0,.5); }
		input[type=submit]:hover {background-color: #e2a53d; box-shadow: 0 0 0;}

		.tabContent { justify-content:center; padding: 20px; }
		.tCWrapper { display: inline-block; height: 100%; width: 100%; }
		.tCheader { padding-bottom: 20px; justify-content:center; height: 100px; width: 100%; }

		.tchbox { background-color: #ECECEC; width: 90%; height: 100%; margin: auto; padding-top: 17px; display: flex;}
		.searchActivity { display: inline-block; margin-left: 30px; width: 60%; padding-right: 20px; }
		.dropbtn { background-color:#2C383B; padding: 9px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC; min-width: 153px;}
		.dropbtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; }
		.dropbtn:active { box-shadow: 0 0 0; }
		.dropdownCat {position: relative; display: inline; margin-left: 30px;}
		.dropdownCat-content { margin-left: 30px; display: none; position: absolute; min-width: 160px; z-index: 1; background-color: white;}
		.dropdownCat-content a {color: black; padding: 12px 16px; display: block; text-decoration: none; border: 1px solid #ccc;}
		.dropdownCat-content a:hover {background-color:#ccc;}
		.dropdownCat:hover .dropdown-content {display:block; background-color: #ECECEC; font-size: 0.8em;}
		.SAwrapper { flex: 1; padding-top: 7px; }
		.actCount { padding: 10px; margin: auto; }

		.actTable { table-layout: : auto; width: 90%; background-color: #ECECEC; }
		.actTable th { font-size: 0.8em; background-color: #2C383B; color: #ECECEC; text-align: center; height: 45px; text-decoration: none;}
		.actTable td { height: 30px; padding: 5px; }
		.selectActbtn { background-color: #2C383B; cursor: pointer; text-decoration: none; color: #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); padding: 1px 5px 1px 5px;}
		.selectActbtn:hover { text-decoration: none; color: #2C383B; background-color: #ECECEC; border: 1px solid #2C383B; }
		.selectActbtn:active { box-shadow: 0 0 0; }
		.tCmodal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100% ; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
		.tCmodal-content { background-color: #FEFEFE; margin: 5% auto; padding: 20px; border: 1px solid #888; width: 700px; }
		.tableSJ td {padding: 5px;}
		.close, .tutupLJ { color: #777777; float: right; font-size: 1.2em; font-weight: bold; }
		.close:hover, .close:focus, .tutupLJ:hover, .tutupLJ:focus{ color: #333333; text-decoration: none; cursor: pointer; }
		#tCModalLabel { text-align: center; font-size: 1.2em; font-weight: bold; border-bottom: 2px solid #ddd; padding: 5px; margin-bottom: 10px;}
		.SJbtnSubmit { background-color:#2C383B; align-items:center; border:1px solid #2C383B; color:#ECECEC; font-weight:bold; padding:7px; border-radius: 5px; cursor: pointer; }
		.SJbtnSubmit:hover{ background-color: #ECECEC; color: #2C383B; border-color: #A8BABE; text-decoration: none; }

		.headerLJ { height: 60px; background-color: #ECECEC; margin-bottom: 20px; padding-top: 7px;}
		.pilihanJurnal { padding-left: 30px; margin-top: -16px; display: block;}
		.pjBtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none;}
		.pjBtn:active { box-shadow: 0 0 0; text-decoration: none; }
		.pjBtn.active { box-shadow: 0 0 0; text-decoration: none; background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; }
		.pjBtn { display: block; background-color:#2C383B; padding: 1px 7px 1px 7px; margin-top: 8px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC; min-width: 131px; text-decoration: none;}
		.PJAfilter { display: flex; flex: 1; }
		.PJAfilter .dropdownCat { display: inline-block; }
		.LJAbtn { background-color:#2C383B; height: fit-content; margin-top: 9px; padding: 1px 7px 5px 7px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC;}
		.LJAbtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none; }
		.LJAbtn:active { box-shadow: 0 0 0; }
		.LJApilihMinggu { padding-top: 7px; margin-left: 20px; margin-right: 10px; }
		.modalLJ-content { background-color: #FEFEFE; margin: 5% auto; padding: 20px; border: 1px solid #888; min-width: 870px; width: 90vw; }
		#tableContainer { display: block; margin: auto; width: 99%; }
		.tabelLJ { table-layout: auto; width: 100%; }
		.tableLJ th { font-size: 0.8em; background-color: #2C383B; color: #ECECEC; text-align: center; height: 45px; text-decoration: none;}
		.LJApilihBulan, .LJApilihTahun { display: inline-block; padding-top: 8px;}
		.LJApilihTahun { margin-left: 20px; }
		.LJApilihBulan { margin-right: 10px; }
		.LJSfilter { margin-left: 30px; padding-top: 8px;}
		.LJSfilter div { display: inline-block; }
		#LJSpilihMinggu, #LJApilihMinggu { width: 163px; }
		#LJSpilihTahun, #LJSpilihBulan, #LJApilihTahun, #LJApilihBulan { height: 30px; }
		.LJSbtn { background-color:#2C383B; height: fit-content; margin-top: 9px; margin-left: 10px; padding: 1px 7px 5px 7px; cursor: pointer; border: 1px solid #ECECEC; box-shadow:2px 2px 0 rgba(0,0,0,.5); color: #ECECEC;}
		.LJSbtn:hover { background-color: #ECECEC; border: 1px solid #2C383B;  color: #2C383B; text-decoration: none; }
		.LJSbtn:active { box-shadow: 0 0 0; }
		.wrapperTotalWaktu { display: inline-block; padding: 11px; padding-left: 20px; margin-bottom: 15px; margin-left: 25px; border-left: 2px solid #ccc; }

		* { transition: all .1s ease}