		html, body{ height:100%; width: 100%; }
		html { display: table; margin: auto; }
		body{ font-family:Verdana; background-color:#2C383B; margin: 0px; padding: 0px; display: table-cell; }
		.logo{ background: #2C383B; position: absolute; right: -60px; top: 0px; width: 400px; padding-top: 10px; padding-bottom: 5px; padding-left: 120px; transform: skew(-45deg);}
		.logo_wrapper{ position: relative; transform: skew(45deg);}
		.wrapper{ background: #FFF; height: 120px; }
		.header{ background-color:#4482e5; position: relative; height: 120px; }
		.page { height: 100vh; }
		.judul { margin: auto; margin-right: 200px; font-size: 2em; padding-top: 30px; width: 300px;}

		.userpanel{ display: inline-block; position: absolute; top: 0; left: 0; background:rgba(0,0,0,0.0); width: 250px; height: 250px; padding: 20px; }
		.userpanel h1{ font-size: 0.9em; text-align: center; margin-top: 10px;}
		.userpanel td{ text-align: center; height: 30px; padding-top: 10px; }
		.userpanel a{ display: inline-block; background: #2C383B; padding: 9px; top: 0; margin-top: 0px; margin-left: 0px; font-size: 0.7em; text-decoration: none; color: #ECECEC; border-style: solid; border-width: 1px; border-color: #2C383B; border-radius: 3px}
		.userpanel a:hover{ background: #ECECEC; color: #2C383B; border-style: solid; border-width: 1px; border-color: #2C383B; }
		.UPwrapper{ background: #c9c9c9; border: 2px solid #565656; padding: 5px;}
		.UPtable{ padding-right: 10px; margin-top: -2px; margin-left: 24px;}
		.foto{ width: 90%; }
		.userphoto{ width: 130px; height: 180px; background-color: black; margin: auto;}
		.username{ width: 90%; font-size: 0.9em;}
		.userid{ width: 70%; font-size: 0.9em; }
		.logoutbtn{ text-align: right; padding-right: 5px; padding-top: 10px; }

		.pagebody{ background: white; height: 100%; margin-top: 20px; display: flex; }
		.sidenav { background: #c1c1c1; height: 100%; flex: 0 0 250px; padding-top: 240px;}
		.sidenav ul { margin-top: 40px; margin-left: 20px; padding: 0; }
		.sidenav ul li { background:#2C383B; box-shadow:10px 10px 0 rgba(0,0,0,.5); transform: skew(-20deg); margin-left: 10px; margin-right: 0px; margin-bottom: 45px ; padding: 15px;  color: #ECECEC; border: 1px solid; list-style-type: none; }
		.sidenav ul li:hover {margin-left: 30px; margin-right: -30px;}
		.sidenav ul li a { transform: skew(20deg); display: block; color: inherit; text-decoration: none; text-align: center; }
		.menu-item.active { margin-left: 30px; margin-right: -30px; box-shadow: 0 0 0; }
		.tab { display: none; width: 100%; }
		.tab.active { display: block; }
		.content{ flex: 1; }
		div#tab1{ display: block; font-weight: 500; font-size: 1.2em; padding: 60px; padding-top: 40px; }
		div#tab2{ font-weight: 500; font-size: 1.2em; padding: 100px; }
		div#tab3{ display: block; font-weight: 500; font-size: 1.2em; padding: 60px; padding-top: 40px; }
		div#tab4{ display: block; font-weight: 500; font-size: 1.2em; padding: 80px; padding-top: 40px; }

		input[type=submit] { border: 0 none; padding: 5px 15px; background: #ffbb47; cursor: pointer; box-shadow:3px 3px 0 rgba(0,0,0,.5); }
		input[type=submit]:hover {background-color: #e2a53d; box-shadow: 0 0 0;}
		
		.TCheader { width: 100%; background-color: #ECECEC; height: 100px;}
		.ACselector { display: inline; }
		.ACselectorUL { display: inline-block; list-style-type: none; margin-top: 25px; padding-right: 10px; }
		.ACselectorLI { background-color:#ffbb47; margin: 0 5px 0 5px; transform: skew(-20deg); display: inline-block; box-shadow:5px 5px 0 rgba(0,0,0,.5);}
		.ACselectorLI:hover, .ACselectorLI.active {box-shadow: 0 0 0;}
		.ACselectorLI a {  transform: skew(20deg); color: black; font-size: 1em; display: block; text-align: center; padding: 15px; text-decoration: none; }
		.searchaccount { display: inline-block; margin-top: 0px; width: 50%; float: right;}
		.ACTab { display: none; }
		.ACTab.active { display: block; }
		.container { display: block; max-width: 1140px; padding: 0 30px; margin: 0 auto; justify-content:center;}
		.searchbuku { display: inline;}
		#DBsearch , #ACsearch {width: 40%; padding: 12px 20px 12px 40px; border: 1px solid #ddd; margin: 30px 0 12px 15px;}
		.dropbtn { background-color:#ffbb47; padding: 16px; cursor: pointer; border: none; box-shadow:5px 5px 0 rgba(0,0,0,.5);}
		.dropbtn:hover {box-shadow: 0 0 0;}
		.dropdown {position: relative; display: inline; margin-left: 30px;}
		.dropdown-content {margin-top: -10px; margin-left: 30px; display: none; position: absolute; min-width: 160px; z-index: 1; box-shadow:5px 5px 0 rgba(0,0,0,.5);}
		.dropdown-content a {color: black; padding: 12px 16px; display: block; text-decoration: none;}
		.dropdown-content a:hover {background-color:#ccc;}
		.dropdown-content:hover {display:block; background-color: #ECECEC; font-size: 0.8em;}
		.dropdown:hover .dropdown-content {display:block; background-color: #ECECEC; font-size: 0.8em;}
		.dropdown:hover .dropbtn {background-color: #e2a53d; box-shadow: 0 0 0; cursor: pointer;}

		.TCTable { margin-top: 20px; width: 100%;}
		.TCTable th { background-color:#2C383B; color: white; border-radius: 2px; border-color: #2C383B; font-size: 0.75em; height: 50px;}
		.TCTable td { background-color:#ccc; text-align: center; height: 40px; font-size: 0.7em;}
		.modal { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
		.modal-content { background-color: #FEFEFE; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 40%; }
		.close { color: #aaa; float: right; font-size: 1em; font-weight: bold; }
		.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }
		#DBModalLabel { text-align: center; padding: 30px;}
		.txtField {  display: inline-block; width: 90%; }
		.TableEditBook { padding-right: 30px; }
		.TableEditBook td { padding: 10px 0 10px 30px;}
		.DBBtnContainer, .ACBtnSubmit { display: inline-block; width: 35%; margin: 8px 10px 8px 5px; background-color:#ffbb47; padding: 5px; box-shadow:2px 2px 0 rgba(0,0,0,.5);}
		.DBBtnContainer:hover, .ACBtnSubmit:hover {box-shadow: 0 0 0; background-color: #e2a53d; cursor: pointer;}

		.ACmodal { display: none !important; position: fixed; z-index: 2; left: 0; top: 0; width: 100%; height: 100%; overflow: auto; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
		.ACmodal-content { background-color: #FEFEFE; margin: 15% auto; padding: 20px; border: 1px solid #888; width: 40%; }
		#ACModalLabel { text-align: center; padding: 30px;}

		.tabContent { justify-content:center; }
		.DPtable { padding-top: -30px; background-color: #ECECEC; }
		.DPheader { text-align: center; padding-top: 30px; padding-bottom: -100px; justify-content:center; }
		.DPheader label { padding: 30px; background-color: #ECECEC; }
		.DPwrapper { display: inline-block; width: 100%; background-color: #ECECEC; height: 100px; justify-content:center;}
		.CPheader { text-align: center; padding-bottom: 20px;}
		.CPForm { display: block; }

		* { transition: all .1s ease}