.content_profile { justify-content:center; padding: 5px; }
.content_wrapper_profile { display: inline-block; height: 100%; width: 100%; }
.profile_header { text-align: center; padding-bottom: 20px; justify-content:center; height: 100px; width: 100%; }
.profile_header label { padding: 30px; background-color: #ECECEC;   width: 100%; height: auto;}
.profile_password { background-color:#ECECEC;}
.body_profile { background-color: #ECECEC; width: 100%; height: auto; margin: auto; }
.tombol_ubah { background:#ECECEC; background-color: #ECECEC; width: auto;  margin: auto; margin-left: auto; margin-right: auto; box-shadow: 1 1 0; color: black}
.ubah_ubah { display: none; width: 100%; }
.ubah_ubah.active { display: block; }
.tablepass td {padding: 3px;}

.pass_select { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100% ; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.pass_select-content { background-color: #FEFEFE; margin: 10% auto; padding: 20px; border: 1px solid #888; width: 700px; }
#password_label { text-align: center; font-size: 1.2em; font-weight: bold; border-bottom: 2px solid #ddd; padding: 5px; margin-bottom: 10px;}
.tutup { color: #777777; float: right; font-size: 1.2em; font-weight: bold; }
.tutup:hover, .tutup:focus { color: #333333; text-decoration: none; cursor: pointer; }

.bio_select { display: none; position: fixed; z-index: 1; left: 0; top: 0; width: 100%; height: 100% ; background-color: rgb(0,0,0); background-color: rgba(0,0,0,0.4); }
.bio_select-content { background-color: #FEFEFE; margin: 10% auto; padding: 20px; border: 1px solid #888; width: 700px; }
.profile_bio { background-color:#ECECEC;}
#bio_label { text-align: center; font-size: 1.2em; font-weight: bold; border-bottom: 2px solid #ddd; padding: 5px; margin-bottom: 10px;}
.tutupin { color: #777777; float: right; font-size: 1.2em; font-weight: bold; }
.tutupin:hover, .tutupin:focus { color: #333333; text-decoration: none; cursor: pointer; }